nav.navbar.navbar-expand-sm.navbar-light(style='background-color:#adff2f;')
  a.navbar-brand(href='/') iLoveMyCity!
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
    span.navbar-toggler-icon
  #collapsibleNavbar.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/berlin') Berlin
      li.nav-item.active
        a.nav-link(href='/paris') Paris
      li.nav-item.active
        a.nav-link(href='/madrid') Madrid
      li.nav-item.active
        a.nav-link(href='/newyork') New York
      li.nav-item.active
        a.nav-link(href='/london') London